<div class="jumbotron">
  <center><h1><%=@place.name%></h1>
  <h3>Recommended:
  <%if (@sentiments["positive"] + @sentiments["neutral"]) > 10 %>
    <%if @sentiments["positive"] > @sentiments["negative"] + (@sentiments["neutral"]/2)%>
      Yes<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
    <%elsif @sentiments["positive"] + (@sentiments["neutral"]/2) < @sentiments["negative"]%>
      No <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
    <%else%>
      Neutral <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    <%end%>
  <%else%>
  Can't say need more reviews!
  <%end%>
</h3>
</center>
</div>
<div class="table">
  <div class="row">

    <div class="col-md-4">
      <div class="well">
        <h2>Reviews</h2>
        <p><%= pie_chart @sentiments %></p>
      </div>
    </div>
      <div class="col-md-2">
        <ul class="list-group">
        <li class="list-group-item">
          Indications
        <li>
          <li class="list-group-item list-group-item-success">
            Positive <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>


          </li>

            <li class="list-group-item list-group-item-info">
              Neutral <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </li>

        <li class="list-group-item list-group-item-danger">
              Negative <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
        </li>

        <li class="list-group-item list-group-item-default">
          10 times the word appeared<span class="badge">10</span>
        </li>

        </ul>
      </div>
      <div class="col-md-2">
          <ul class="list-group">
          <li class="list-group-item list-group-item-default">Places<li>
          <%@entities.each do |name,value| %>
            <%if value[4]=="Place" || value[4]=="GeographicFeature" || value[4]=="Country" || value[4]=="City"%>
            <%if value[5]== 0 %>
              <li class="list-group-item list-group-item-success">
                <%=link_to "#{name}",review_path(:name => name, :id => @place_id)%>

                <span class="badge"><%=value[0]%></span>
              </li>
            <%elsif value[5] == 1%>
              <li class="list-group-item list-group-item-info">
                <%=link_to "#{name}",review_path(:name => name, :id => @place_id)%>

                <span class="badge"><%=value[0]%></span>
              </li>
            <%else%>
              <li class="list-group-item list-group-item-danger">
                <%=link_to "#{name}",review_path(:name => name, :id => @place_id)%>

                <span class="badge"><%=value[0]%></span>
              </li>
            <%end%>
          <%end%>
          <%end%>
          
         
        </ul>
        </div>

        <div class="col-md-2">
          <ul class="list-group">
            <li class="list-group-item list-group-item-default">Facilities<li>
          <%@entities.each do |name,value| %>
            <%if value[4]=="Facility" %>
            <%if value[5]== 0 %>
              <li class="list-group-item list-group-item-success">
                <%=link_to "#{name}",more_path(:name => name)%>

                <span class="badge"><%=value[0]%></span>
              </li>
            <%elsif value[5] == 1%>
              <li class="list-group-item list-group-item-info">
                <%=link_to "#{name}",more_path(:name => name)%>

                <span class="badge"><%=value[0]%></span>
              </li>
            <%else%>
              <li class="list-group-item list-group-item-danger">
                <%=link_to "#{name}",more_path(:name => name)%>

                <span class="badge"><%=value[0]%></span>
              </li>
            <%end%>
          <%end%>
          <%end%>
          
        </ul>
        </div>

        <div class="col-md-2">
          <ul class="list-group">
            <li class="list-group-item list-group-item-default">Others<li>
          <%@entities.each do |name,value| %>
            <%if value[4]!="Place" && value[4] != "GeographicFeature" && value[4]!="Country" && value[4] != "City" && value[4] != "Facility" %>
            <%if value[5]== 0 %>
              <li class="list-group-item list-group-item-success">
                
                <%=link_to "#{name}",more_path(:name => name)%>

                <span class="badge"><%=value[0]%></span>
              </li>
            <%elsif value[5] == 1%>
              <li class="list-group-item list-group-item-info">
                <%=link_to "#{name}",more_path(:name => name)%>
                
                <span class="badge"><%=value[0]%></span>
              </li>
            <%else%>
              <li class="list-group-item list-group-item-danger">
                <%=link_to "#{name}",more_path(:name => name)%>

                <span class="badge"><%=value[0]%></span>
              </li>
            <%end%>
          <%end%>
          <%end%>
        </ul>
        </div>





  </div>

  <div class="row center" id="weather-row">
    <div class="col-md-2 text-center" id="weather">
      <img src="https://cdn0.iconfinder.com/data/icons/large-weather-icons/512/Dawn.png" class="img-responsive"/>
      <h3>Weather Forecast</h3>
    </div>
    <%@weather.each do |k,v|%>
    <div class="col-md-2 text-center">
      <h3><%=v[3]%></h3>
      <img src="http://openweathermap.org/img/w/<%=v[5]%>.png"/>
      <h4>Temp: <%=v[0]%></h4>
      <i>Min: <%=v[1]%>&nbsp;Max:<%=v[2]%></i>
      <p><%=v[4]%></p>
      <h3><%=k%></h3>
    </div>
    <%end%>
  </div>

<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <h2><center>Concepts from User Reviews</center></h2>
    </div>
</div>
</div>


<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <h2><center>User Reviews</center></h2>
    </div>
</div>
</div>
<div class="row">
  <div class="col-sm-3">
    <div class="card card-block" >
      <h3 class="card-title">Special title treatment</h3>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card card-block">
      <h3 class="card-title">Special title treatment</h3>
      <img src="https://otrazhenie.files.wordpress.com/2013/05/a-smile.jpg?w=150&h=150" alt="Card image">
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
</div>
