<div class="jumbotron">
  <center><h1><%=@place.name%></h1>
  <h3>Recommended:
  <%if (@sentiments["positive"] + @sentiments["neutral"]) > 10 %>
    <%if @sentiments["positive"] > @sentiments["negative"] + (@sentiments["neutral"]/2)%>
      Yes<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
    <%elsif @sentiments["positive"] + (@sentiments["neutral"]/2) < @sentiments["negative"]%>
      No <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
    <%else%>
      Neutral <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    <%end%>
  <%else%>
  Can't say need more reviews!
  <%end%>
</h3>
</center>
</div>
<div class="table">
  <div class="row">

    <div class="col-md-4">
      <div class="well">
        <h2>Reviews</h2>
        <p><%= pie_chart @sentiments %></p>
      </div>
    </div>
      <div class="col-md-2">
        <ul class="list-group">
        <li class="list-group-item">
          Indications
        <li>
          <li class="list-group-item list-group-item-success">
            Positive <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>


          </li>

            <li class="list-group-item list-group-item-info">
              Neutral <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </li>

        <li class="list-group-item list-group-item-danger">
              Negative <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
        </li>

        <li class="list-group-item list-group-item-default">
          10 times the word appeared<span class="badge">10</span>
        </li>

        </ul>
      </div>
      <div class="col-md-2">
          <ul class="list-group">
          <li class="list-group-item list-group-item-default">Places<li>
          <%@entities.each do |entity| %>
            <%if entity.type_t=="Place" || entity.type_t=="GeographicFeature" || entity.type_t=="Country" || entity.type_t=="City"%>
            <%if entity.sentiment== "positive"%>
              <li class="list-group-item list-group-item-success">
                <%=entity.name%>
                <span class="badge"><%=entity.count%></span>
              </li>
            <%elsif entity.sentiment == "neutral"%>
              <li class="list-group-item list-group-item-info">
                <%=entity.name%>
                <span class="badge"><%=entity.count%></span>
              </li>
            <%else%>
              <li class="list-group-item list-group-item-danger">
                <%=entity.name%>
                <span class="badge"><%=entity.count%></span>
              </li>
            <%end%>
          <%end%>
          <%end%>
        </ul>
        </div>

        <div class="col-md-2">
          <ul class="list-group">
            <li class="list-group-item list-group-item-default">Facilities<li>
          <%@entities.each do |entity| %>
            <%if entity.type_t=="Facility"%>
            <%if entity.sentiment== "positive"%>
              <li class="list-group-item list-group-item-success">
                <%=entity.name%>
                <span class="badge"><%=entity.count%></span>
              </li>
            <%elsif entity.sentiment == "neutral"%>
              <li class="list-group-item list-group-item-info">
                <%=entity.name%>
                <span class="badge"><%=entity.count%></span>
              </li>
            <%else%>
              <li class="list-group-item list-group-item-danger">
                <%=entity.name%>
                <span class="badge"><%=entity.count%></span>
              </li>
            <%end%>
          <%end%>
          <%end%>
        </ul>
        </div>

        <div class="col-md-2">
          <ul class="list-group">
            <li class="list-group-item list-group-item-default">Others<li>
          <%@entities.each do |entity| %>
            <%if entity.type_t!="Facility" &&  entity.type_t!="Place" && entity.type_t!="GeographicFeature" && entity.type_t!="Country" && entity.type_t!="City"%>
            <%if entity.sentiment== "positive"%>
              <li class="list-group-item list-group-item-success">
                <%=entity.name%>
                <span class="badge"><%=entity.count%></span>
              </li>
            <%elsif entity.sentiment == "neutral"%>
              <li class="list-group-item list-group-item-info">
                <%=entity.name%>
                <span class="badge"><%=entity.count%></span>
              </li>
            <%else%>
              <li class="list-group-item list-group-item-danger">
                <%=entity.name%>
                <span class="badge"><%=entity.count%></span>
              </li>
            <%end%>
          <%end%>
          <%end%>
        </ul>
        </div>





  </div>

  <div class="row center" id="weather-row">
    <div class="col-md-2 text-center" id="weather">
      <img src="https://cdn0.iconfinder.com/data/icons/large-weather-icons/512/Dawn.png" class="img-responsive"/>
      <h3>Weather Forecast</h3>
    </div>
    <%@weather.each do |k,v|%>
    <div class="col-md-2 text-center">
      <h3><%=v[3]%></h3>
      <img src="http://openweathermap.org/img/w/<%=v[5]%>.png"/>
      <h4>Temp: <%=v[0]%></h4>
      <i>Min: <%=v[1]%>&nbsp;Max:<%=v[2]%></i>
      <p><%=v[4]%></p>
      <h3><%=k%></h3>
    </div>
    <%end%>
  </div>

<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <h2><center>Concepts from User Reviews</center></h2>
    </div>
</div>
</div>

<%@concepts.in_groups_of(5).each do |group|%>

  <div class="row">
    <%group.each do |concept|%>
    <%if concept%>
      <div class="col-md-5ths text-center" id="border">
        <h4><%=concept.name%></h4>
        <%if concept.relevance.to_f > 0.6%>
        <h4>  <span class="label label-success">Popular</span></h4>
        <%elsif concept.relevance.to_f < 0.4%>
        <h4>  <span class="label label-danger">Less Popular</span></h4>
        <%elsif%>
        <h4>  <span class="label label-primary">Neutral</span></h4>
        <%end%>

        <h5>Relevant links:<h5>
        <%if concept.geo !=""%>
          <%coo=concept.geo.split(" ")%>
          Coordinates:<strong>(<%=coo[0][0,4]%>,<%=coo[1][0,4]%>)</strong>
        <%end%>
        <br>
                <%if concept.website !=""%>
                  <a href='<%=concept.website%>'>Website</a>
                <%end%>
      </div>
      <%end%>
    <%end%>
  </div>

<%end%>

  <%@wikipedia.in_groups_of(4).each do |group|%>
  <div class="row">

  <%group.each do |wiki|%>
  <%if wiki%>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="<%=wiki.image_url%>" alt="wikipedia image" class="img-responsive"/>
      <div class="caption">
        <h3><%=wiki.title%></h3>
        <%if wiki.summary.length>150%>
        <p><%=wiki.summary[0,150]+"..."%><a href="https://en.wikipedia.org/wiki/<%=wiki.title%>" target="_blank" >more</a></p>
        <%else%>
        <p><%=wiki.summary[0,150]+"..."%></p>
        <%end%>
      </div>
    </div>

  </div>
  <%end%>
  <%end%>
</div>
  <%end%>

<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <h2><center>User Reviews</center></h2>
    </div>
</div>
</div>
<div class="row">
  <div class="container-fluid" id="review">
  <%=@place.reviews[0,3000]%>....
  </div>
</div>
</div>
